* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* ____________________________________ */
header {
  height: 100vh;
  width: 100%;
  background: radial-gradient(
    ellipse at center,
    white 0%,
    #ffffffb6 20%,
    #ffc0cbbc 50%,
    #ffc0cbbc 100%
  );
  min-height: 100vh;
  margin: 0;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.logo img {
  width: 125px;
  cursor: pointer;
}
.cart .fa-solid {
  font-size: 20px;
  color: #000000a0;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav a {
  color: #000000a0;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.5s;
  padding: 0;
}

nav a:hover {
  color: black;
  text-decoration: underline 1px solid black;
}
