* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* ____________________________________ */
/* ____________________________________ */

header {
  height: 100vh;
  width: 100%;
  background: radial-gradient(
    ellipse at center,
    white 0%,
    #ffffffb6 20%,
    #ffc0cbbc 50%,
    #ffc0cbbc 100%
  );
  min-height: 100vh;
  margin: 0;
}
.container {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}
.logo img {
  width: 125px;
  cursor: pointer;
}
.cart .fa-solid {
  font-size: 20px;
  color: #000000a0;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav a {
  color: #000000a0;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.5s;
  padding: 0;
}

nav a:hover {
  color: black;
  text-decoration: underline 1.5px solid black;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.col {
  flex-basis: 44%;
  min-width: 300px;
}
.hero-image img {
  width: 100%;
  padding: 50px 0;
}
.hero-text h1 {
  line-height: 55px;
  font-size: 45px;
  margin-bottom: 25px;
}
.hero-text p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  padding: 0;
  line-height: 22px;
}
.hero-text a {
  display: inline-block;
  background-color: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 10px 0;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
  border: 2px solid transparent;
}
.hero-text a:hover {
  background-color: transparent;
  border: 2px solid #ff523b;
  color: #000;
}
/* ____________________________________ */
/* ____________________________________ */

.categories {
  margin: 70px auto;
  max-width: 1200px;
  width: 65%;
}

.category-row {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.category-col {
  flex-basis: 32%;
  min-width: 250px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.category-col img {
  width: 100%;
  display: inline-block;
}
/* ____________________________________ */
.small-container {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  text-align: center;
  margin: 70px auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
  font-size: 32px;
  font-weight: 600;
}

.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.featured-products-row,
.latest-products-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.featured-products-col,
.latest-products-col {
  flex-basis: 23.5%;
  min-width: 150px;
  margin-bottom: 50px;
  padding: 5px;
}

.featured-products-col img,
.latest-products-col img {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}

.featured-products-col h3,
.latest-products-col h3 {
  color: #555;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 5px;
  text-align: left;
}
.featured-products-col .icon,
.latest-products-col .icon {
  text-align: left;
  margin-bottom: 10px;
  line-height: 1;
}
.featured-products-col .icon i,
.latest-products-col .icon i {
  font-size: 14px;
  color: #ff523b;
}
.featured-products-col span,
.latest-products-col span {
  font-size: 14px;
  color: #000;
  display: block;
  text-align: left;
}
.featured-products-col {
  transition: transform 0.5s;
}

.featured-products-col:hover {
  transform: translateY(-5px);
}
/* ____________________________________ */
.Offer-Section {
  background: radial-gradient(
    ellipse at center,
    white 0%,
    #ffffffb6 20%,
    #ffc0cbbc 50%,
    #ffc0cbbc 100%
  );
  padding: 30px 0;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
}

.container-Offer {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}

.Offer-col {
  flex-basis: 44%;
  min-width: 300px;
}
.Offer-col img {
  padding: 50px;
  width: 100%;
}

.Offer-col h2 {
  margin: 10px 0 25px 0;
  font-size: 45px;
  font-weight: 800;
  color: #000;
  line-height: 1.1;
}

.Offer-col p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  padding: 0;
  line-height: 22px;
  margin-bottom: 20px;
}

.Offer-btn {
  display: inline-block;
  background-color: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 10px 0;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
  border: 2px solid transparent;
}

.Offer-btn:hover {
  background-color: transparent;
  border: 2px solid #ff523b;
  color: #000;
}
/* ____________________________________ */
.small-container5 {
  max-width: 1080px;
  width: 70%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.testimonial {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f7f7f7;
}

.testimonial-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.testimonial-col {
  text-align: center;
  padding: 40px 20px;
  background: #fff;
  box-shadow: 0 0 20px 0px #0000001a;
  flex-basis: 30%;
  min-width: 250px;

  border-radius: 5px;
}
.testimonial-col img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonial-col > i:first-child {
  font-size: 40px;
}
.testimonial-col i {
  color: #ff523b;
  margin-top: 10px;
}
/* ____________________________________ */
.Brands {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f7f7f7;
}
.small-container6 {
  max-width: 1080px;
  width: 75%;
  margin: 0 auto;
}
.brand-row {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.brand-row img {
  width: 100%;
  display: block;
  filter: grayscale(100%);
}
.brand-row img:hover {
  filter: grayscale(0%);
}
